    <div class="container-fluid">
      <div class="row">

        <div class="col my-2" id="tittleSegment">
          <h1 id="bestSellers">Best-Sellers</h1>
        </div>

      </div>
    </div>



    <section id="slider">
      <div class="myContainer">
        <div class="sub-container">
            <div class="slider-wrapper">
                    
              <div id="controls">


                  <button class="previus">
                      <i class="fa-solid fa-angle-left"></i>
                  </button>

                  <button class="next">
                      <i class="fa-solid fa-angle-right"></i>
                  </button>


              </div>
              
              <div class="container-fluid" id="contFluid">
                  <div class="row my-slider">                       
                    
                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-mocca.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>Cafetera</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>
                    
                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-morado1.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>Vaso sabroso</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>

                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-morado2.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>Vaso sabroso</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>

                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-rosado.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>Pal café</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>

                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-cRosado.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>A sorbitos</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>

                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-cMorado.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>El mero café</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>

                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-cBlanco.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>El mero café</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>

                    <div class="col" id="ColSlide">
                      <div class="slide">

                        <div class="container">
                          <a href="#">
                            <div class="card">
                              <div class="imgBx">
                                <img src="{{ 'p-rosado.png' | asset_url }}">
                              </div>
                              <div class="contentBx">
                                <h2>El mero café</h2>
                                <div class="size">
                                  <h3>Descripción</h3>
                                </div>
                                <div class="color">
                                  <h2>Un pequeño apunte sobre el producto</h2>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>                      
                                                      
                      </div>
                    </div>                      

                  </div>
              </div>

            </div>
        </div>
      </div>
    </section>