<div class="container">

    <div class="row">

      <div class="col my-2" id="tittleSegment">
        <h1>Categorías</h1>
      </div>

    </div>
  </div>      

  <div class="curly">
    <img src="{{ 'i-i-curly.png' | asset_url }}" class="img-fluid" alt="">
  </div>

  <section class="buttonSection" style="border: 0;">
    <div class="d-flex flex-row mx-2 justify-content-center">
      <a href="#"><div class="p-2 mx-2" ><img src="{{ 'i-b-cafeteras.png' | asset_url }}" alt="" id="buttonMenu"></div></a>
      <a href="#"><div class="p-2 mx-2" ><img src="{{ 'i-b-mugs.png' | asset_url }}" alt="" id="buttonMenu"></div></a>
      <a href="#"><div class="p-2 mx-2" ><img src="{{ 'i-b-vasos.png' | asset_url }}" alt="" id="buttonMenu"></div></a>
    </div>          
  </section>
    
    
  <div class="curly">
      <img src="{{ 'i-i-curly2.png' | asset_url }}" class="img-fluid">
  </div>