<img src="{{ 'i-i-curly3.png' | asset_url }}" alt="" class="img-fluid mt-5" id="mainImg">   
    <footer id="footer">

      <div class="container">

        <div class="row ">
            <div class="col col-lg-4 mt-3" id="footer-logo">
                <img src="{{ 'i-lala-logo-orange.png' | asset_url }}" alt="Lala">
            </div>
            <div class="col-12 col-lg-4">
                <div class="row row-cols-1">
                    <div class="col mt-3">
                        <h3 id="tittle-footer">Nuestros Productos</h3>
                    </div>
                    <div class="col footLink">
                        <a href="#">Café</a>
                    </div>
                    <div class="col footLink">
                        <a href="#">Merchandising</a>
                    </div>
                    <div class="col footLink">
                        <a href="#">Cafeteras</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="row row-cols-1">
                    <div class="col mt-3">
                        <h3 id="tittle-footer">Síguenos</h3>
                    </div>          
                    <div class="col">
                        <div class="d-flex flex-row">

                            <div class="p-2" id="footer-icon">
                                <a href="https://www.tiktok.com"><img src="{{ 'ic-tictok.png' | asset_url }}" alt="tiktok"></a>
                            </div>
                            <div class="p-2" id="footer-icon">
                                <a href="https://www.facebook.com"><img src="{{ 'ic-facebook.png' | asset_url }}" alt="facebook"></a>
                            </div>
                            <div class="p-2" id="footer-icon">
                                <a href="https://www.instagram.com/lalaenconcepcion/"><img src="{{ 'ic-instagram.png' | asset_url }}" alt="instagram"></a>
                        </div>
                    </div>
            </div>            
            </div>

          </div>

      </div>         

  </footer>